body {
    background: #F1F1F1;
    height: 100vh !important
}

.filePicker {
    padding-bottom: 1em !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}


.contButtons {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 2em .5em
}