.btnInputFile {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.modal {
  width: 25%;
  background: #FFF;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center
}

  
.form {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column
}

.group-button {
  display: flex;
  width: 80% !important;
  justify-content: flex-end !important;
  float: right;
  margin-top: 1em;
  margin-bottom: 0 !important;
  margin-right: 0
}
