body {
background: #F1F1F1 !important;
}

.sidebar {
    background-color: #263C5A !important;
    height: 100%;
}
.page {
    height: 100vh;
    display: flex;
    justify-content: space-between
}
.content {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5em;
    padding: 2em;
    flex-direction: column
}

.opMenu {
    color: #fff !important;
    font-weight: bold !important;
    border-bottom: 1px solid #fff !important
}

.appBar {
    width: 86%;
    background: #263C5A;
    height: 5em;
    position: absolute;
    right: 0;
    -webkit-box-shadow: 0px 11px 46px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 11px 46px -4px rgba(0,0,0,0.41);
    box-shadow: 0px 11px 46px -4px rgba(0,0,0,0.41);
    text-align: center;
}

.title {
    color: #fff;
    font-size: 3em;
    font-weight: bold
}

.picker-dialog-bg {
    background-color: #000 !important
}