.formUser {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

.modal {
    width: 40%;
    background: #FFF;
}

.Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center
}

.formUser {
    padding: 2em
}
.formUser > div { 
    padding-top: .5em; 
    padding-left: 3em; 
    padding-right: 3em; 
    width: 35em; 
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
    align-items: flex-end 
    } 

.group-button {
    display: flex;
    width: 38%;
    justify-content: space-around;
    float: right;
    margin: 0em 2em 1em;
}

.modalDelete {
    padding: 1em;
    text-align: center
}