.cardDoc {
  width: 15% !important;
  margin: 5px !important;
  white-space: nowrap;
  cursor: pointer
}

.btnInputFile {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.modalDocumento {
  width: 25%;
  background: #FFF;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center
}



.form {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column
}

.group-button-documento {
  display: flex;
  width: 100% !important;
  justify-content: center !important;
  float: right;
  margin-top: 1em;
  margin-bottom: 0 !important;
  margin-right: 0
}

#title {
  color: #000;
  font-size: 1.3em;
  font-weight: bold;
}

#containerTitle {
  width: 15em;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#containerIcon {
  justify-content: center;
  padding: 1.5em;
  text-align: center
}

.extraClass {
  margin-right: 1px !important;
}

a a:focus a:hover {
  text-decoration: none !important
}