body {
    height: 100vh
}

.pageLogin {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #083945 !important;
    justify-content: center;
}

.containerLogo {
    width: 100%;
    padding: 2em
}

.containerForm {
    display: flex;
    align-items: center;
    background: #F1F1F1;
    width: 30%;
    position: absolute;
    z-index: 2;
    bottom: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
}

.containerInput {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    width: 100%;
}